body {
  font-family: "Segoe UI", serif;
  background: seashell;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}

.navbar ul {
  font-family: "georgia", serif;
  list-style-type: none;
  float: centre;
  color: black;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 40px;
  background-color:rgb(250, 236, 220);
}
