body {
  font-family: "Segoe UI", serif;
  background: seashell;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}

.navbar a {
  font-family: "georgia", serif;
  float: centre;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 40px;
}
