<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Facts</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'design2.css')}}">
</head>
<body>
    <div class="nutrition-box">
        <h1>Nutrition Facts</h1>
        <h2>Serving Size: {{ serving_size }}</h2>
        <div class="divider thick"></div>

        <div class="calories-line">
            <span>Calories</span>
            <span>{{ calorie }}</span>
        </div>

        <div class="divider"></div>
        <p class="daily-label">% Daily Value*</p>

        <div class="nutrient">
            <span>Total Fat {{ total_fat }}g</span>
            <span>--%</span>
        </div>
        <div class="sub-nutrient">
            <span>Saturated Fat {{ saturated_fat }}g</span>
            <span>--%</span>
        </div>

        <div class="nutrient">
            <span>Cholesterol {{ cholesterol }}mg</span>
            <span>--%</span>
        </div>

        <div class="nutrient">
            <span>Sodium {{ sodium }}mg</span>
            <span>--%</span>
        </div>

        <div class="nutrient">
            <span>Total Carbohydrate {{ carbs }}g</span>
            <span>--%</span>
        </div>
        <div class="sub-nutrient">
            <span>Dietary Fiber {{ fiber }}g</span>
            <span>--%</span>
        </div>
        <div class="sub-nutrient">
            <span>Sugars {{ sugar }}g</span>
        </div>

        <div class="nutrient">
            <span>Protein {{ protein }}g</span>
        </div>

        <div class="divider thick"></div>

        <div class="vitamins">
            <span>Vitamin A {{ vitamin_a }}%</span>
            <span>Vitamin C {{ vitamin_c }}%</span>
        </div>
        <div class="vitamins">
            <span>Calcium {{ calcium }}%</span>
            <span>Iron {{ iron }}%</span>
        </div>

        <p class="footnote">*Percent Daily Values are based on a 2,000 calorie diet.</p>
    </div>
</body>
</html>
