<!DOCTYPE html>
<html>

    <body>
        <h1> Nutrition Facts </h1>
        <hr>
        <h2>Calories: {{ calorie }} </h2>
        <h2>Total Fat: {{ total_fat }} </h2>
        <h3>    Saturated Fat: </h3>
        <h2>Cholesterol: </h2>
        <h2>Sodium: </h2>
        <h2>Total Carbohydrate: </h2>
        <h3>    Dietary Fiber: </h3>
        <h3>    Total Sugars: </h3>
        <h2>Protein: </h2>
        <h2>Vitamin D: </h2>
        <h2>Calcium: </h2>
        <h2>Iron: </h2>
        <h2>Potassium: </h2>
    </body>
    <link rel = "stylesheet" href = "{{url_for ('static', filename = 'design2.css')}}"/>

</html>