<!DOCTYPE html>
<html>
    <link rel = "stylesheet" href =  "/static/design2.css"/>
    <body>
        <div class="result-box">

        <h1> Nutrition Facts </h1>
        <hr>
        <h2>Calories: {{ calorie }} </h2>
        <h2>Total Fat: {{ total_fat }} </h2>
        <h3>    Saturated Fat: {{ saturated_fat }} </h3>
        <h2>Cholesterol: {{ cholesterol }} </h2>
        <h2>Sodium: {{ sodium }} </h2>
        <h2>Total Carbohydrate: {{ carbs }} </h2>
        <h3>    Dietary Fiber: {{ fiber }} </h3>
        <h3>    Total Sugars: {{ sugar }} </h3>
        <h2>Protein: {{ protein }} </h2>
        <h2>Vitamin A: {{ vitamin_a }} </h2>
        <h2>Vitamin A: {{ vitamin_c }} </h2>
        <h2>Calcium: {{ calcium }} </h2>
        <h2>Iron: {{ iron }} </h2>
        </div>
    </body>
</html>

        <p class="footnote">*Percent Daily Values are based on a 2,000 calorie diet.</p>
    </div>
</body>
</html>
