<!DOCTYPE html>
<html>
<title> Sign-up </title>
<link rel = "stylesheet" href = "{{url_for ('static', filename = 'design1.css')}}"/>

<body>
  <div class="container">
    <div class="row">
      <div class="col">

        <h1> Nutrition Calculator </h1>
        <hr>

        <form action="/sign-up" method="POST">

          <div class="form-group">
            <label> Recipe Name </label>
            <input class type="form-control" type="text" name="recipe" style="font-family: Segoe UI">
          </div>

          <div class="form-group">
            <label> Ingredients </label>
            <textarea id="ingredients" name="ingredients" rows="4" cols="50"
              style="font-family: Segoe UI"></textarea><br><br>
          </div>

          <div class="form-group">
            <label> Serving Size </label>
            <select id="fruits" name="fruits">
              <option value="apple">Apple</option>
              <option value="banana">Banana</option>
              <option value="cherry">Cherry</option>
              <option value="mango">Mango</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

      </div>
    </div>
  </div>
</body>

</html>